.wiki_sidebar {
  position: fixed;
  height: calc(100vh - var(--nav-height));
  width: 20rem;
  background-color: var(--color-dark);
  padding-top: 5rem;
  border-top: solid .2rem var(--color-primary);
  box-shadow: 0 0 10px rgba(0,0,0, .6);

  &::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: -.2rem;
    right: 20rem;
    height: calc(100% + .2rem);
    width: 100rem;
    border-top: solid .2rem var(--color-primary);
    background-color: var(--color-dark);
  }
}

.placeholder {
  width: 20rem;
  height: 1rem;
  flex-shrink: 0;
}

.sidebar_box {
  display: flex;
  flex-direction: column;
  border-left: solid .2rem rgba(255,255,255,.15);
}

.sidebar_item {
  line-height: 1;
  margin-left: -.2rem;
  position: relative;
  font-size: 1.8rem;
  padding-left: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin-bottom: 2rem;
  color: var(--color-grey);
  border-left: solid .2rem transparent;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    color: var(--color-white);
    border-color: var(--color-white);
  }



  &_active {
    color: var(--color-primary) !important;
    border-color: var(--color-primary) !important;
  }
}
