@import "src/assets/styles/mixins";

.anleitung {
  color: var(--color-dark);
  background-color: var(--color-white);
  min-height: calc(100vh - var(--nav-height));
  padding-top:5rem;

  &_wrapper {
    display: flex;

    @include media("md") {
      flex-direction: column;
    }
  }

  &_info {
    position: sticky;
    min-width: 35rem;
    margin-right: 5rem;
    padding: 1rem 0;
    border-top: solid 2px var(--color-dark);
    border-bottom: solid 2px var(--color-dark);


    @include media("md") {
      position: relative;
      margin-bottom: 5rem;
    }


    & .heading {
      color: var(--color-primary);
      font-size: 2rem;
      font-weight: bold;
    }
    & .link {
      color: var(--color-dark);
      margin-bottom: 1rem;
    }
  }

  &_content {

  }

  &_subheading {
    font-family: 'Black Ops One', cursive;
    font-size: 2.8rem;
    text-transform: uppercase;
  }

  & p {
    color: var(--color-grey-text);
  }
}