.star {
  height: 5.6rem;
  width: 5.6rem;

  &--white svg path {
    fill: var(--color-white) !important;
  }
  &--dark svg path {
    fill: var(--color-grey) !important;
  }
  &--primary svg path {
    fill: var(--color-primary) !important;
  }
}