@import './src/assets/styles/mixins';

.hero {
  position: relative;
  height: 100vh;

  .heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 2;
  }

  h1 {
    @include font-police;
    font-size: 11.2rem;
    color: var(--color-white);

    span {
      color: var(--color-primary);
    }
  }

  .fivestars {
    display: flex;

    div {
      margin-right: 2rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .subtext {
    margin-top: 4rem;
    font-size: 2.2rem;
    font-weight: 300;
    color: var(--color-white);
  }


  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .75;
    background-color: var(--color-dark);
  }

  .video_container {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;

    & video {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-40%) translateY(-50%);
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -1000;
      overflow: hidden;

      @media only screen and (min-width: 1280px) {
        min-width: 150%;
        min-height: 150%;
      }
    }
  }
}