.welcome {
  text-align: center;

  width: 60%;
  margin: 0 auto;

  & h2 {
    margin-bottom: var(--marginMedium);
  }
}


.text-wrapper {
  display: flex;
  justify-content: center;
  width: 70%;
  min-width: 15rem;
}

.unique {
  display: flex;
  position: relative;
  flex-direction: row-reverse;
  color: var(--color-dark);
  background-color: var(--color-primary);
  height: 60rem;

  li {
    font-size: 2.4rem;
  }
  z-index: 3;
}

.unique_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 50%;
  padding-left: 10rem;
  padding-right: 5rem;
}

.unique_right {
  flex-basis: 50%;
  overflow: hidden;
}

.strand {
  position: relative;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 20%;
    background-color: var(--color-primary);
  }
}

.benefits {
  width: 100%;

  & .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &_card {
    width: 28%;
    --color-card: #ff0000;
    --color-card-alpha: #ff000020;
    display: inline-block;
    font-size: 2.4rem;
    border: solid 1px var(--color-card);
    background-color: var(--color-card-alpha);
    margin-left: 3rem;
    margin-right: 3rem;
    padding: 3rem;

    & .heading {
      display: flex;
      align-items: center;

      & svg {
        font-size: 3rem;
        color: var(--color-card);
      }

      & h3 {
        margin-left: 1.5rem;
      }
    }

    & p {
      color: var(--color-grey);
      font-size: var(--text-size);
    }
  }
}

.noise {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: .5rem;
  background: linear-gradient(to bottom, var(--color-dark), var(--color-white));
}

.skidmark {
  position: absolute;
  top: 0;
  right: 2%;
  height: 100%;


  & img {
    width: 100%;
    height: 100%;
  }
}

.path {
  display: flex;
  width: 100%;
  color: var(--color-dark);
  border: solid 1px var(--color-dark);
  min-height: 30rem;

  & .selection {
    flex-basis: 70%;

    & ul {
      list-style-type: none;
    }
  }

  & .emblem {
    background-color: var(--color-dark);
    flex-basis: 30%;
    z-index: 2;
  }
}
