:root {
  --color-dark: #1D2228;
  --color-white: #E1E2E2;
  --color-primary: #FB8122;

  --nav-height: 7rem;
}

html {
  font-family: Helvetica;
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
}
