@import "assets/styles/margins";
@import "assets/styles/utils";
@import "assets/styles/mixins";

:root {
  --color-dark: #101216;
  --color-dark-light: #12151a;
  --color-white: #E1E2E2;
  --color-grey: #a6a6a6;
  --color-grey-text: #4f4f4f;
  --color-primary: rgb(255, 75, 0);
  --color-primary--darker: rgb(201, 54, 0);

  --nav-height: 6.5rem;
  --spacer-screen: 5rem;

  --text-size: 1.6rem;

  --marginSmall: 2rem;
  --marginMedium: 4rem;
  --marginLarge: 6rem;
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Roboto, sans-serif;
  color: var(--color-white);
  font-size: 62.5%;
  line-height: 1.2;

  @include media("md") {
    font-size: 55%;
  }
}

p {
  line-height: 1.8;
}

body {
  background-color: var(--color-white);
}

a {
  text-decoration: none;
}
