
.marginTopSmall {
  margin-top: var(--marginSmall);
}

.marginTopMedium {
  margin-top: var(--marginMedium);
}

.marginTopLarge {
  margin-top: var(--marginLarge);
}

.marginBottomSmall {
  margin-bottom: var(--marginSmall);
}

.marginBottomMedium {
  margin-bottom: var(--marginMedium);
}

.marginBottomLarge {
  margin-bottom: var(--marginLarge);
}