@import "/src/assets/styles/mixins.scss";

h2 {
  display: inline-block;
  @include font-police;
  font-size: 5.2rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.dark {
  color: var(--color-dark);
}