@import './src/assets/styles/mixins';

.nav_spacer {
  height: var(--nav-height);
  width: 100%;
  background-color: transparent;
}

nav {
  position: fixed;
  width: 100%;
  height: var(--nav-height);
  background-color: var(--color-dark);
  z-index: 9999;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  height: var(--nav-height);

  & img {
    height: var(--nav-height);
    width: auto;
  }

  span {
    @include font-police;
    color: var(--color-white);
    font-size: 1.8rem;
    margin-left: 1rem;
  }
}
