@import './src/assets/styles/mixins';

.nav_spacer {
  height: var(--nav-height);
  width: 100%;
  background-color: transparent;
}

nav {
  position: fixed;
  width: 100%;
  height: var(--nav-height);
  background-color: var(--color-dark);
  z-index: 9999;
  box-shadow: 0 0 5px rgba(0,0,0, .8);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  height: var(--nav-height);

  & img {
    height: 5rem;
    width: auto;
  }

  span {
    @include font-police;
    color: var(--color-white);
    font-size: 2.4rem;
    margin-left: 1rem;

    @include media("md") {
      display: none;
    }
  }
}
